<div class="enigma">
  <div class="enigma-background seccion1">
      <div class="container">
          <div class="row">
              <div class="col-sm-12 pt-5 pb-5">
                  <p class="size28 text-white text-center pb-4">Genera valor a los procesos de tu negocio</p>
                  <p class="size51 text-white text-center pb-3 font-weight-700">Optimiza</p>
                  <p class="size38 text-white text-center letter-spacing-056 line-height-46">A través de soluciones de gestión<br> móvil en la nube</p>
              </div>
          </div>
      </div>
  </div>
  <div class="container seccion2">
    <div class="row pt-5 pb-5">
      <div class="col-md-3">
        <mat-card class="card-zoom">
          <img class="d-inline-block mb-3" src="./assets/images/icon_enigma1PNG.png" alt="Apps desarrolladas">
          <mat-card-title class="text-black pt-2 pb-2 roboto size25 font-weight-700">+150</mat-card-title>
          <mat-card-content>
            <p class="size17 line-height-20 letter-spacing-054">
              Aplicaciones<br>desarrolladas
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-3">
        <mat-card class="card-zoom">
          <img class="d-inline-block mb-3" src="./assets/images/icon_enigma2PNG.png" alt="Apps desarrolladas">
          <mat-card-title class="text-black pt-2 pb-2 roboto size25 font-weight-700">4 países</mat-card-title>
          <mat-card-content>
            <p class="size17 line-height-20 letter-spacing-054">
              En américa donde <br>hacemos presencia
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-3">
        <mat-card class="card-zoom">
          <img class="d-inline-block mb-3" src="./assets/images/icon_enigma3PNG.png" alt="Apps desarrolladas">
          <mat-card-title class="text-black pt-2 pb-2 roboto size25 font-weight-700">+230</mat-card-title>
          <mat-card-content>
            <p class="size17 line-height-20 letter-spacing-054">
              Clientes nacionales<br>e internacionales
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-3">
        <mat-card class="card-zoom">
          <img class="d-inline-block mb-3" src="./assets/images/icon_enigma4PNG.png" alt="Apps desarrolladas">
          <mat-card-title class="text-black pt-2 pb-2 roboto size25 font-weight-700">18 años</mat-card-title>
          <mat-card-content>
            <p class="size17 line-height-20 letter-spacing-054">
              Garantizan nuestra<br>calidad
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="seccion3 bg-soft-blue pb-5">
    <div class="container">
      <div class="row pt-5 pb-5">
        <div class="col-md-6">
          <img class="mb-4" src="../assets/images/logo_smartsuit.png" alt="SmartSuite">
          <p class="size18 line-height-24 letter-spacing-027">Nuestras soluciones se adaptan a las necesidades de tu negocio logrando optimizar y automatizar todos los procesos. 
          </p>
          <div class="nav flex-column nav-pills" id="services-tabs" role="tablist" aria-orientation="vertical">
            <div class="row">
              <div class="col-md-6">
                <a class="nav-link active" id="smartsales-tab" data-toggle="pill" href="#smartsales" role="tab" aria-controls="smartsales" aria-selected="true"><img src="../assets/images/smartsalesPNG.png" alt="SmartSales"></a>
                <a class="nav-link" id="mobileforms-tab" data-toggle="pill" href="#mobileforms" role="tab" aria-controls="mobileforms" aria-selected="false"><img src="../assets/images/mobileformsPNG.png" alt="MobileForms"></a>
                <a class="nav-link" id="onecheck-tab" data-toggle="pill" href="#onecheck" role="tab" aria-controls="onecheck" aria-selected="false"><img src="../assets/images/onecheckPNG.png" alt="OneCheck"></a>
              </div>
              <div class="col-md-6">
                <a class="nav-link" id="ontime-tab" data-toggle="pill" href="#ontime" role="tab" aria-controls="ontime" aria-selected="false"><img src="../assets/images/onetimePNG.png" alt="OneTime"></a>
                <a class="nav-link" id="caretask-tab" data-toggle="pill" href="#caretask" role="tab" aria-controls="caretask" aria-selected="false"><img src="../assets/images/caretaskPNG.png" alt="CareTask"></a>
                <a class="nav-link" id="intrack-tab" data-toggle="pill" href="#intrack" role="tab" aria-controls="intrack" aria-selected="false"><img src="../assets/images/intraclPNG.png" alt="InTrack"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="tab-content" id="services-tabContent">
            <div class="tab-pane fade show active" id="smartsales" role="tabpanel" aria-labelledby="smartsales"><img class="img-fluid" src="../assets/images/comp1PNG.png" alt="SmartSales Image"></div>
            <div class="tab-pane fade" id="mobileforms" role="tabpanel" aria-labelledby="mobileforms"><img class="img-fluid" src="../assets/images/comp_1_1PNG.png" alt="MobileForms Image"></div>
            <div class="tab-pane fade" id="onecheck" role="tabpanel" aria-labelledby="onecheck"><img class="img-fluid" src="../assets/images/comp2PNG.png" alt="OneCheck Image"></div>
            <div class="tab-pane fade" id="ontime" role="tabpanel" aria-labelledby="ontime"><img class="img-fluid" src="../assets/images/comp3PNG.png" alt="OneTime Image"></div>
            <div class="tab-pane fade" id="caretask" role="tabpanel" aria-labelledby="caretask"><img class="img-fluid" src="../assets/images/comp4PNG.png" alt="CareTask Image"></div>
            <div class="tab-pane fade" id="intrack" role="tabpanel" aria-labelledby="intrack"><img class="img-fluid" src="../assets/images/comp2PNG.png" alt="InTrack Image"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="seccion4 border-radius-12">
            <p class="text-center size38 font-weight-700 text-white letter-spacing-056 line-height-46 mb-4">¡Una solución ideal para cada desafío!</p>
            <button class="mx-auto d-block text-blue" mat-raised-button>Comenzar ahora</button>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-5 mb-5">
      <div class="row">
        <div class="col-md-12">
          <h2 class="mt-5 text-center text-black size38 font-weight-700 letter-spacing-056 line-height-46">¡Proporcionamos soluciones <br>tecnológicas de valor!</h2>
          <p class="size18 text-center">Nuestro compromiso es ofrecerte innovación, agilidad y seguridad para que optimices los procesos de tu negocio
          </p>
        </div>
      </div>
    </div>
    <div class="container pt-5">
      <div class="row">
        <div class="col-md-4">
          <mat-card class="solucion card-zoom">
            <div class="row">
              <div class="col-md-4">
                <img class="d-inline-block float-left img-fluid mr-3" src="./assets/images/icon_enigma5PNG.png" alt="Soluciones">
              </div>
              <div class="col-md-8 my-auto pl-0">
                <p class="size18">
                  Adquieres una solución rápida y fácil de implementar.
                </p>
              </div>
            </div>
          </mat-card>
        </div>
        <div class="col-md-4 mt-5n">
          <mat-card class="solucion card-zoom">
            <div class="row">
              <div class="col-md-4">
                <img class="d-inline-block float-left img-fluid mr-3" src="./assets/images/icon_enigma6PNG.png" alt="Automatiza">
              </div>
              <div class="col-md-8 my-auto pl-0">
                <p class="size18">
                  Automatiza todos los procesos de campo de tu negocio.
                </p>
              </div>
            </div>
          </mat-card>
        </div>
        <div class="col-md-4">
          <mat-card class="solucion card-zoom">
            <div class="row">
              <div class="col-md-4">
                <img class="d-inline-block float-left img-fluid mr-3" src="./assets/images/icon_enigma7PNG.png" alt="Automatiza">
              </div>
              <div class="col-md-8 my-auto pl-0">
                <p class="size18">
                  Cuenta con la posibilidad de trabajar off-line.
                </p>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-4">
          <mat-card class="solucion card-zoom">
            <div class="row">
              <div class="col-md-4">
                <img class="d-inline-block float-left img-fluid mr-3" src="./assets/images/icon_enigma8PNG.png" alt="Soluciones">
              </div>
              <div class="col-md-8 my-auto pl-0">
                <p class="size18">
                  Nuestras soluciones son gráficas e intuitivas.
                </p>
              </div>
            </div>
          </mat-card>
        </div>
        <div class="col-md-4 mt-5n">
          <mat-card class="solucion card-zoom">
            <div class="row">
              <div class="col-md-4">
                <img class="d-inline-block float-left img-fluid mr-3" src="./assets/images/icon_enigma9PNG.png" alt="Automatiza">
              </div>
              <div class="col-md-8 my-auto pl-0">
                <p class="size18">
                  Obtén actualizaciones de información automaticas.
                </p>
              </div>
            </div>
          </mat-card>
        </div>
        <div class="col-md-4">
          <mat-card class="solucion card-zoom">
            <div class="row">
              <div class="col-md-4">
                <img class="d-inline-block float-left img-fluid mr-3" src="./assets/images/icon_enigma10PNG.png" alt="Automatiza">
              </div>
              <div class="col-md-8 my-auto pl-0">
                <p class="size18">
                  Solo pagas por lo que usas y sin contrato de permanencia.
                </p>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-12">
          <h2 class="size38 font-weight-700 text-blue text-center mt-4">Transforma tus procesos</h2>
          <button mat-raised-button class="size18 font-weight-400 text-white bg-sea-blue mx-auto d-block">¡Hablemos de la solución que necesitas!</button>
        </div>
      </div>
    </div>
  </div>
  <div class="seccion5 container mt-5 mb-5">
    <div class="row">
      <div class="col-md-12 mb-5">
        <h2 class="text-black size34 line-height-41 font-weight-700 text-center">Contamos con todo un equipo de expertos que garantizan soluciones digitales personalizadas</h2>
      </div>
      <div class="col-md-6">
        <p class="font-weight-400 size18 letter-spacing-027 text-black mb-4">Un espacio creativo que potencializa a nuestro equipo.<br>
          Aquí generamos las soluciones móviles que transforman los  procesos empresariales de la región.
        </p>
        <div class="row">
          <div class="col-md-3">
            <div class="card-teams card-zoom">
              <img class="mx-auto d-block mb-3" src="./assets/images/icon_enigma11PNG.png" alt="Ingenieros">
              <p class="text-center text-blue font-weight-500 size18 mb-0">54</p>
              <p class="text-center size16">Ingenieros</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card-teams card-zoom">
              <img class="mx-auto d-block mb-3" src="./assets/images/icon_enigma12PNG.png" alt="Diseñadores">
              <p class="text-center text-blue font-weight-500 size18 mb-0">26</p>
              <p class="text-center size16">Diseñadores</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card-teams card-zoom">
              <img class="mx-auto d-block mb-3" src="./assets/images/icon_enigma13PNG.png" alt="Tecnólogos">
              <p class="text-center text-blue font-weight-500 size18 mb-0">45</p>
              <p class="text-center size16">Tecnólogos</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card-teams card-zoom">
              <img class="mx-auto d-block mb-3" src="./assets/images/icon_enigma14PNG.png" alt="Especialistas">
              <p class="text-center text-blue font-weight-500 size18 mb-0">3</p>
              <p class="text-center size16">Especialistas</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <iframe width="100%" height="315" [src]="urlSaneada" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="seccion6 bg-soft-blue pt-5 pb-5 mt-150">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img class="img-fluid img-aplicaciones" src="./assets/images/comp2PNG.png" alt="Aplicaciones móviles">
        </div>
        <div class="col-md-6">
          <div class="img-apps mb-4">
            <img src="./assets/images/icon_enigma15PNG.png" alt="Apps móviles">
          </div>
          <h2 class="size38 font-weight-700 text-blue mb-4">Aplicaciones móviles</h2>
          <p class="size18 font-weight-400"><strong>Eficientes y dinámicas para una óptima gestión de tus procesos empresariales.</strong> Estamos presentes a nivel nacional e internacional diseñando y optimizando procesos con nuestras soluciones digitales.</p>
          <div class="banderas">
            <img class="img-fluid d-inline-block card-zoom" src="./assets/images/bandera-colombia.png" alt="Colombia">
            <img class="img-fluid d-inline-block card-zoom" src="./assets/images/bandera-peru.png" alt="Perú">
            <img class="img-fluid d-inline-block card-zoom" src="./assets/images/bandera-republica-dominicana.png" alt="Rep. Dominicana">
            <img class="img-fluid d-inline-block card-zoom" src="./assets/images/bandera-ecuador.png" alt="Ecuador">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="seccion7 mt-150">
    <div class="container">
      <div class="row mb-50">
        <div class="col-md-6 my-auto">
          <h2 class="size38 font-weight-700 text-black">¡Nuestra Smart<span style="color:#310087">Suite</span>
            siempre a tu alcance!
            </h2>
            <p class="size18">Cuenta con soluciones tecnológicas en aplicaciones móviles y web en la nube logrando una optima gestión de tus procesos. </p>
        </div>
        <div class="col-md-6">
          <img class="img-fluid" src="./assets/images/comp3PNG.png" alt="Alcance">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <img class="img-fluid" src="./assets/images/comp4PNG.png" alt="Soluciones">
        </div>
        <div class="col-md-6 my-auto">
          <h2 class="size38 font-weight-700 text-black">Soluciones y <br>resultados ágiles.</h2>
          <p class="size18">Implementamos metodologías eficientes, dinámicas y activas bajo un trabajo colaborativo garantizando las mejores prácticas.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="seccion8 bg-soft-blue pt-150 mt-35n pb-50">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="size38 font-weight-700 text-black">Nuestros clientes</h2>
          <p class="size18">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam arcu lacus, maximus sed dignissim nec, venenatis ut nibh. Curabitur vel venenatis metus, eget lacinia odio. Phasellus ut turpis nunc. Nunc porta ultricies nibh, et ultricies nisl lobortis vel.</p>
        </div>
        <div class="col-md-6"></div>
      </div>
    </div>
  </div>
  <div class="seccion9 bg-blue pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="text-white size35 font-weight-700 line-height-45 letter-spacing-1-03">¡Anímate a explorar y a encontrar la solución que necesitas con Smartsuite!</h2>
          <div class="row mb-2">
            <div class="col-md-1">
              <img src="./assets/images/direccion.png" alt="Dirección">
            </div>
            <div class="col-md-11">
              <h3 class="mb-0 text-white font-weight-700 size18 letter-spacing-053 line-height-22">Dirección</h3>
              <p class="text-white size16 line-height-20">Carrera 83c # 17 - 52 Barrio ingenio III<br>
                Cali, Colombia</p>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-md-1">
              <img src="./assets/images/phonePNG.png" alt="Teléfono">
            </div>
            <div class="col-md-11">
              <h3 class="mb-0 text-white font-weight-700 size18 letter-spacing-053 line-height-22">Números de Contacto</h3>
              <p class="text-white size16 line-height-20">(+57) 312 832 5529<br>
                (+57) 485 4805 Ext. 1000</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1">
              <img src="./assets/images/clockPNG.png" alt="Horarios">
            </div>
            <div class="col-md-11">
              <h3 class="mb-0 text-white font-weight-700 size18 letter-spacing-053 line-height-22">Horarios de Atención</h3>
              <p class="text-white size16 line-height-20">Lunes a Viernes: 8:00am - 6:00pm<br>
                Sábados: 8:00am - 10:00p.m.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <form (ngSubmit)="enviarForm(formularioFoot)" #formularioFoot="ngForm" id="formulario-foot" class="foot-contact">
            <div class="row">
              <div class="col-md-6">
                <div class="form-row pt-2 pb-2">
                  <label class="size16 text-soft-white" for="nombres">Nombres</label>
                  <input type="text" class="form-control" id="nombres" name="nombres" #nombres="ngModel" [(ngModel)]="user.nombres" required>
                  <small style="color:#c30000;" *ngIf="nombres.invalid && (nombres.dirty || nombres.touched)">
                      Nombres es un campo requerido.
                  </small>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-row pt-2 pb-2">
                  <label class="size16 text-soft-white" for="apellidos">Apellidos</label>
                  <input type="text" class="form-control" id="apellidos" name="apellidos" #apellidos="ngModel" [(ngModel)]="user.apellidos" required>
                  <small style="color:#c30000;" *ngIf="apellidos.invalid && (apellidos.dirty || apellidos.touched)">
                    Apellidos es un campo requerido.
                  </small>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-row pt-2 pb-2">
                  <label class="size16 text-soft-white" for="telefono">Número de Teléfono</label>
                  <input type="tel" class="form-control" id="telefono" name="telefono" #telefono="ngModel" [(ngModel)]="user.telefono" pattern="^\d+$" required>
                  <small style="color:#c30000;" *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)">
                      Ingrese un teléfono válido.
                  </small>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-row pt-2 pb-2">
                  <label class="size16 text-soft-white" for="ciudad">Ciudad</label>
                  <input type="text" class="form-control" id="ciudad" name="ciudad" #ciudad="ngModel" [(ngModel)]="user.ciudad" required>
                  <small style="color:#c30000;" *ngIf="ciudad.invalid && (ciudad.dirty || ciudad.touched)">
                    Ciudad es un campo requerido.
                  </small>
                </div>
              </div>
            </div>
            
            <div class="form-row pt-2 pb-2">
                <label class="size16 text-soft-white" for="email">Correo Electrónico</label>
                <input type="email" class="form-control" id="email" name="email" #email="ngModel" [(ngModel)]="user.email" email="true" required>
                <small style="color:#c30000;" *ngIf="email.invalid && (email.dirty || email.touched)">
                    Ingrese un correo electrónico válido.
                </small>
            </div>
           
            <div class="form-row pt-2 pb-2">
                <label class="size16 text-soft-white" for="mensaje">Mensaje</label>
                <textarea class="form-control h-100px mb-3" id="mensaje" name="mensaje" placeholder="Escribe aquí tu mensaje" #mensaje="ngModel" [(ngModel)]="user.mensaje" required></textarea>
                <small style="color:#c30000;" *ngIf="mensaje.invalid && (mensaje.dirty || mensaje.touched)">
                    El mensaje es un campo requerido.
                  </small>
            </div>
            <div class="form-check text-center">
                <input type="checkbox" name="acepto" #acepto="ngModel" [(ngModel)]="user.acepto" class="form-check-input" id="acepto" required>
                <label class="size16 text-soft-white" for="acepto">Conozco y acepto la política de datos</label>
                <small style="color:#c30000;" *ngIf="acepto.invalid && (acepto.dirty || acepto.touched)">
                    Debe aceptar las condiciones.
                </small>
            </div>
            <input type="submit" class="btn btn-primary btn-blue mt-4 w-40 mx-auto d-block" name="enviar" value="Enviar" [disabled]="formularioFoot.invalid">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
